.global__header {
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 1px solid #1e90ff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, #061b3b, #290d42, #0f4146);
  background-size: 1000% 300%;
  animation: gradientFlow 18s ease-in-out infinite;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  &:hover {
    box-shadow: 0px 1px 10px #1e90ff;
  }
  .header__logo {
    img {
      height: 60px;
      filter: drop-shadow(0 0 10px #00d5ff65);
      transition: transform 0.3s ease-in-out;
      border-radius: 20%;
      &:hover {
        transform: scale(1.1);
      }
      cursor: pointer;
    }
  }

  .header__menus {
    display: flex;
    gap: 30px;
    .menu {
      position: relative;
      transition: 0.2s;
      border: 1px solid rgba(255, 255, 255, 0.473);
      background: #00d4ff;
      border-radius: 6px;
      padding: 10px 10px;
      cursor: pointer;

      &:hover {
        background: #00a2ff;
        scale: 1.04;
      }
      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s ease, transform 0.3s ease;
        position: relative;
        text-transform: uppercase;
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .global__header {
    padding: 10px 6% 30px 6% !important;
    .header__menus {
      display: grid;
      flex-direction: column;
      text-align: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .menu {
        position: relative;
        transition: 0.2s;
        padding: 5px 10px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .global__header {
    padding: 10px 6% 30px 6% !important;
    .header__menus {
      // display: flex;
      // flex-direction: column;
      // text-align: center;
      display: grid;
      flex-direction: column;
      text-align: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .menu {
        position: relative;
        transition: 0.2s;
        padding: 3px 10px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}
