.global__hero {
  width: 100vw;
  height: auto;
  z-index: 2;
  .hero__content {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    .hero__left {
      position: relative;
      width: 50%;
      height: 100%;
      transition: 0.3s;
      .hero__text {
        text-transform: uppercase;
        padding: 20px 120px 0 20%;
        font-size: 28px;
        h1 {
          color: rgb(25, 193, 235);
          width: 400px;
          font-weight: 700;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        }
        h4 {
          color: rgb(95, 159, 255);
          width: 700px;
        }
        h6 {
          color: rgb(255, 255, 255);
          width: 450px;
        }
      }
      .center__hero__floor {
        transform: translateY(40px);
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        padding: 0 15%;
        .hero__light__floor {
          width: 100%;
          height: 70px;
          background: linear-gradient(to left, #061b3b, #5c9dff, #061b3b);
          border-radius: 20px;
          filter: blur(15px) opacity(0.8);
          animation: floating 5s linear infinite;
        }
        @keyframes floating {
          0%,
          100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(30px);
          }
        }
      }
    }
    @media (max-width: 640px) {
      .hero__left {
        position: relative;
        width: 100%;
        text-align: center;
        .hero__text {
          padding: 80px 10px 0 10px;
          font-size: 26px;
          h1 {
            width: 100%;
          }
          h4 {
            width: 100%;
          }
          h6 {
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 640px) {
      .hero__left {
        position: relative;
        width: 100%;
      }
    }
  }
}
