@import url("https://fonts.googleapis.com/css?family=Sanchez");

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.euro {
  --face: #fbfae2;
  --sign: #061b3b;
  --circle: #061b3b;
  --side: #fbfae2;
  --slide: #061b3b;
}

.dollar {
  --face: #19c1eb;
  --sign: #061b3b;
  --circle: #061b3b;
  --side: #19c1eb;
  --slide: #061b3b;
}

.pound {
  --face: #f82e5e;
  --sign: #061b3b;
  --circle: #061b3b;
  --side: #f82e5e;
  --slide: #061b3b;
}

.coin_container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  box-shadow: 0 11em 3em -2em rgba(0, 0, 0, 0.2);
  .coin {
    width: 52%;
    height: 52%;
    position: absolute;
    transform-style: preserve-3d;
    scale: 0.7;
    top: 50px;
  }

  .dollar {
    animation: spinDollar 120s 1s linear infinite;
  }
  .euro {
    animation: spinEuro 160s -3s linear infinite;
  }
  .pound {
    animation: spinYen 160s -7s linear infinite;
  }

  .face {
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--face);
    display: grid;
    place-content: center;
  }

  .front {
    transform: translate3d(0, 0, 0.4em) rotateY(0);
  }

  .back {
    transform: rotateY(180deg) translate3d(0, 0, 0.4em);
  }

  .symbol {
    position: absolute;
    color: var(--sign);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-family: Sanchez, sans-serif;
    display: grid;
    place-content: center;
    img {
      width: 1.9em;
      border-radius: 100%;
    }
  }

  .euro .symbol {
    // padding-right: 0.1em;
  }

  .circle {
    border-radius: 5em;
    // border: 0.35em dashed var(--circle);
    width: 8em;
    height: 8em;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .side {
    width: 0.8em;
    height: 1.61em;
    background: var(--side);
    position: absolute;
    left: 50%;
    top: 50%;
    backface-visibility: hidden;
    border-top: 0.2em solid var(--slide);
    border-bottom: 0.2em solid var(--slide);
  }

  @for $i from 1 through 20 {
    figure:nth-of-type(#{$i}) {
      transform: translate3d(-50%, -50%, 0)
        rotateY(90deg)
        rotateX(($i - 1) * 18deg)
        translateZ(4.9em);
    }
  }

  @keyframes spinDollar {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(5 * 360deg) rotateZ(180deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(10 * 360deg) rotateZ(0deg);
    }
  }

  @keyframes spinEuro {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(5 * 360deg) rotateY(45deg) rotateZ(25deg);
    }
    100% {
      transform: rotateX(10 * 360deg) rotateY(0deg) rotateZ(0deg);
    }
  }

  @keyframes spinYen {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(-5 * 360deg) rotateZ(180deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(-10 * 360deg) rotateZ(0deg);
    }
  }
}
