* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Holtwood One SC", serif;
  font-family: "Kanit", sans-serif;
}

body {
  background: #0c0512;
  margin-top: 85.45px;
  background: linear-gradient(90deg, #061b3b, #290d42, #0f4146);
  background-size: 1000% 300%;
  animation: gradientFlow 18s ease-in-out infinite;
  overflow-x: hidden;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #0f4146;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a676e;
}
